@import 'modules/resets.scss';
@import 'modules/mixins.scss';
@import 'modules/variables.scss';
@import 'modules/typography.scss';
@import 'modules/header.scss';

/* Pages */
html{
        background-color:$black;
}
body > article{
        margin-top:$shortHeaderHeight;
        .header{
                height:$shortHeaderHeight;
        }
        @include tablet{
                margin-top:$headerHeight;
                .header{
                        height:$headerHeight;
                }
        }
}
@import 'pages/splash.scss';
@import 'pages/syllabus.scss';