@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

ul, ol {
  list-style: none outside none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline; }

a {
  text-decoration: none; }

button {
  background-color: transparent;
  border: none; }

/*------------------- 
    LAYOUT
------------------- */
#Content {
  overflow: hidden;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0; }

.column-one,
.column-two {
  width: 50%;
  position: relative;
  height: 100%;
  float: left;
  overflow: hidden; }

@font-face {
  font-family: "ssSocialCircle";
  font-weight: regular;
  src: url("/fonts/SS-Social-Circle/ss-social-circle.eot?") format("eot"), url("/fonts/SS-Social-Circle/ss-social-circle.ttf") format("truetype"), url('/fonts/SS-Social-Circle/ss-social-circle.svg#str-replace(ssSocialCircle, " ", "_")') format("svg"); }
@font-face {
  font-family: "ssSocial";
  font-weight: regular;
  src: url("/fonts/SS-Social/ss-social-regular.eot?") format("eot"), url("/fonts/SS-Social/ss-social-regular.ttf") format("truetype"), url('/fonts/SS-Social/ss-social-regular.svg#str-replace(ssSocial, " ", "_")') format("svg"); }
@font-face {
  font-family: "ssBlock";
  font-weight: regular;
  src: url("/fonts/SS-Block/ss-block.eot?") format("eot"), url("/fonts/SS-Block/ss-block.ttf") format("truetype"), url('/fonts/SS-Block/ss-block.svg#str-replace(ssBlock, " ", "_")') format("svg"); }
@font-face {
  font-family: "sourceSansProLight";
  font-weight: light;
  src: url("/fonts/Source-Sans-Pro/source-sans-pro-light.eot?") format("eot"), url("/fonts/Source-Sans-Pro/source-sans-pro-light.woff2") format("woff2"), url("/fonts/Source-Sans-Pro/source-sans-pro-light.woff") format("woff"), url("/fonts/Source-Sans-Pro/source-sans-pro-light.ttf") format("truetype"), url('/fonts/Source-Sans-Pro/source-sans-pro-light.svg#str-replace(sourceSansProLight, " ", "_")') format("svg"); }
@font-face {
  font-family: "sourceSansProBold";
  font-weight: light;
  src: url("/fonts/Source-Sans-Pro/source-sans-pro-bold.eot?") format("eot"), url("/fonts/Source-Sans-Pro/source-sans-pro-bold.woff2") format("woff2"), url("/fonts/Source-Sans-Pro/source-sans-pro-bold.woff") format("woff"), url("/fonts/Source-Sans-Pro/source-sans-pro-bold.ttf") format("truetype"), url('/fonts/Source-Sans-Pro/source-sans-pro-bold.svg#str-replace(sourceSansProBold, " ", "_")') format("svg"); }
@font-face {
  font-family: "sourceSansProReg";
  font-weight: regular;
  src: url("/fonts/Source-Sans-Pro/source-sans-pro-regular.eot?") format("eot"), url("/fonts/Source-Sans-Pro/source-sans-pro-regular.woff2") format("woff2"), url("/fonts/Source-Sans-Pro/source-sans-pro-regular.woff") format("woff"), url("/fonts/Source-Sans-Pro/source-sans-pro-regular.ttf") format("truetype"), url('/fonts/Source-Sans-Pro/source-sans-pro-regular.svg#str-replace(sourceSansProReg, " ", "_")') format("svg"); }
@font-face {
  font-family: "alphaHeadline";
  font-weight: regular;
  src: url("/fonts/AlphaHeadline/alpha-headline-regular.eot?") format("eot"), url("/fonts/AlphaHeadline/alpha-headline-regular.woff2") format("woff2"), url("/fonts/AlphaHeadline/alpha-headline-regular.woff") format("woff"), url("/fonts/AlphaHeadline/alpha-headline-regular.ttf") format("truetype"), url('/fonts/AlphaHeadline/alpha-headline-regular.svg#str-replace(alphaHeadline, " ", "_")') format("svg"); }
@font-face {
  font-family: "alphaHeadlineBold";
  font-weight: regular;
  src: url("/fonts/AlphaHeadline/alpha-headline-bold.eot?") format("eot"), url("/fonts/AlphaHeadline/alpha-headline-bold.woff2") format("woff2"), url("/fonts/AlphaHeadline/alpha-headline-bold.woff") format("woff"), url("/fonts/AlphaHeadline/alpha-headline-bold.ttf") format("truetype"), url('/fonts/AlphaHeadline/alpha-headline-bold.svg#str-replace(alphaHeadlineBold, " ", "_")') format("svg"); }
@font-face {
  font-family: "data";
  font-weight: regular;
  src: url("/fonts/data_70.ttf") format("truetype"), url('/fonts/data_70.svg#str-replace(data, " ", "_")') format("svg"); }
h1 {
  font-family: alphaHeadline;
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 50px; }

h2 {
  font-family: alphaHeadline;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 15px; }

h3 {
  font-family: alphaHeadline;
  font-size: 20px;
  margin-bottom: 10px; }

p {
  font-size: 20px;
  line-height: 32px;
  max-width: 900px; }
  @media (max-width: 899px) {
    p {
      font-size: 16px;
      line-height: 30px; } }

.btn {
  transition: all 0.5s ease;
  font-family: alphaHeadline; }
  .btn:hover {
    cursor: pointer; }

.btn-large {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding: 15px 30px;
  font-size: 60px;
  border-radius: 3px;
  margin: 80px 0; }
  @media (max-width: 899px) {
    .btn-large {
      font-size: 70px;
      line-height: 100px;
      margin-bottom: 30px; } }

.btn-black {
  background-color: #000;
  color: #fff; }
  .btn-black:hover {
    color: #e54ed0; }

* {
  font-family: sourceSansProReg; }

.icon-social {
  font-family: ssSocial; }

.icon-circle {
  font-family: ssSocialCircle; }

.icon {
  font-family: ssBlock; }

.main_header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  width: 100%;
  z-index: 1000;
  transition: all 0.5s ease;
  height: 60px; }
  .main_header h1 {
    font-size: 30px;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    letter-spacing: 0.03em;
    padding-top: 13px; }
    .main_header h1 a {
      transition: all 0.5s ease;
      color: #fff;
      font-family: data; }
    .main_header h1:hover a {
      color: #ff1769; }
  .main_header .main_nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 100%; }
    .main_header .main_nav a {
      white-space: nowrap;
      font-family: alphaHeadline;
      text-transform: uppercase;
      color: #fff;
      transition: all 0.5s ease;
      letter-spacing: 0.02em; }
      .main_header .main_nav a.active {
        color: #ff1769; }
  .main_header .hamburger {
    display: none; }
  @media (min-width: 900px) {
    .main_header nav {
      height: 100%; }
    .main_header h1 {
      left: 20px; }
    .main_header ul {
      width: 100%;
      height: 100%;
      display: block;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      justify-content: flex-end;
      -ms-flex-pack: flex-end; }
      .main_header ul li {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        padding-right: 20px; }
    .main_header a {
      height: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%; }
      .main_header a:hover {
        color: #ff1769; } }
  @media (max-width: 899px) {
    .main_header {
      height: 60px; }
      .main_header .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        font-size: 30px;
        color: #fff;
        z-index: 1000;
        transition: all 0.5s ease; }
        .main_header .hamburger:hover {
          color: #ff1769; }
        .main_header .hamburger.active {
          color: #C9C2F7; }
      .main_header h1 {
        left: 10px; }
      .main_header .main_nav {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        z-index: 2000;
        display: none;
        background-color: #000;
        padding-bottom: 60px;
        opacity: 0;
        transition: all 0.5s ease;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        border-top: 1px solid #fff; }
        .main_header .main_nav.active {
          opacity: 1; }
        .main_header .main_nav ul {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column; }
          .main_header .main_nav ul li {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            height: 100px;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            justify-content: center;
            -ms-flex-pack: center;
            border-bottom: 1px solid #fff;
            text-align: center; }
            .main_header .main_nav ul li a {
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              -webkit-flex-direction: row;
              -moz-flex-direction: row;
              -ms-flex-direction: row;
              flex-direction: row;
              -webkit-align-items: center;
              -moz-align-items: center;
              -ms-align-items: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-justify-content: center;
              -moz-justify-content: center;
              -ms-justify-content: center;
              justify-content: center;
              -ms-flex-pack: center;
              height: 100%;
              width: 100%; } }

/* Pages */
html {
  background-color: #000; }

html, body {
  height: 100%;
  overflow-y: scroll; }

body > article {
  padding-top: 60px; }

/* ~~~~~~~~~~~~~~~~~~~~
* * * * * * * * * * * *
      S P L A S H
* * * * * * * * * * * *
~~~~~~~~~~~~~~~~~~~~~ */
#Splash {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  /* ~~~~~~~~~~~~~~~~~~~~
  ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ
        I N T R O
  /\/\/\/\/\/\/\/\/\/\/\
  ~~~~~~~~~~~~~~~~~~~~~ */ }
  #Splash h1 {
    text-align: center;
    max-width: 800px;
    font-size: 40px;
    line-height: 50px;
    max-width: 900px;
    letter-spacing: 0.03em; }
    @media (max-width: 899px) {
      #Splash h1 {
        font-size: 30px;
        line-height: 42px; } }
  #Splash h2 {
    max-width: 1200px;
    font-family: data;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 25px;
    line-height: 75px;
    margin-bottom: 25px; }
    @media (max-width: 899px) {
      #Splash h2 {
        font-size: 70px; } }
  #Splash h2 span {
    font-family: data; }
  #Splash h3 {
    font-size: 30px;
    font-family: alphaHeadlineBold;
    text-transform: uppercase; }
    @media (max-width: 899px) {
      #Splash h3 {
        font-size: 22px; } }
  #Splash section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8% 0.5%;
    min-height: 100vh; }
    @media (max-width: 899px) {
      #Splash section {
        padding: 8% 10px; }
        #Splash section.splash_lessons, #Splash section.splash_faq {
          background-repeat: repeat;
          background-size: auto; } }
  @media (max-width: 899px) {
    #Splash {
      overflow: hidden; } }
  #Splash .splash_intro {
    color: #fff;
    background-image: url("/img/texture-crystals.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/post_bg.jpg',    sizingMethod='scale')"; }
    #Splash .splash_intro .video {
      width: 100%;
      max-width: 800px; }
    #Splash .splash_intro h1 span,
    #Splash .splash_intro p span {
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5); }
    #Splash .splash_intro h1, #Splash .splash_intro p {
      padding: 0 5%; }
    #Splash .splash_intro p {
      text-align: center;
      letter-spacing: 0.03em;
      margin-bottom: 5%;
      font-size: 28px;
      line-height: 40px;
      letter-spacing: .03em;
      margin-bottom: 20px; }
      @media (max-width: 899px) {
        #Splash .splash_intro p {
          font-size: 16px;
          line-height: 30px; } }
    @media (max-width: 899px) {
      #Splash .splash_intro h1 span,
      #Splash .splash_intro p span {
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5); } }
  #Splash .splash_lessons {
    background-image: url("/img/texture-aluminum-foil.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/post_bg.jpg',    sizingMethod='scale')"; }
    #Splash .splash_lessons h2 {
      color: #fff;
      text-shadow: 7px 7px #000; }
    #Splash .splash_lessons ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
      #Splash .splash_lessons ul li {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        position: relative;
        background-color: #000;
        color: #fff;
        overflow: hidden; }
        #Splash .splash_lessons ul li:nth-of-type(4n + 1) {
          color: #000;
          background-color: #fff; }
          #Splash .splash_lessons ul li:nth-of-type(4n + 1) p {
            opacity: 1;
            background-color: transparent; }
        #Splash .splash_lessons ul li p {
          transition: opacity 0.5s ease; }
      @media (max-width: 899px) {
        #Splash .splash_lessons ul {
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-flex-wrap: nowrap;
          -moz-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
          #Splash .splash_lessons ul h2 {
            text-shadow: 5px 5px #000; }
          #Splash .splash_lessons ul li {
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-bottom: 20px; }
            #Splash .splash_lessons ul li img {
              height: 100%;
              width: 100%; }
            #Splash .splash_lessons ul li h3 {
              padding: 25px 25px 5px;
              margin: 0; }
            #Splash .splash_lessons ul li p {
              padding: 0 25px 25px;
              margin-bottom: 0; } }
      @media (min-width: 900px) {
        #Splash .splash_lessons ul {
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-flex-wrap: wrap;
          -moz-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-justify-content: space-evenly;
          -moz-justify-content: space-evenly;
          -ms-justify-content: space-evenly;
          justify-content: space-evenly;
          -ms-flex-pack: space-evenly;
          width: 100%; }
          #Splash .splash_lessons ul li {
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            justify-content: center;
            -ms-flex-pack: center;
            width: 32.5%;
            margin: 0 0.1% 0.5%; }
            #Splash .splash_lessons ul li:hover p {
              opacity: 1; }
            #Splash .splash_lessons ul li img {
              width: 100%;
              height: 300px;
              width: 100%;
              height: 100%;
              object-fit: cover;
              background-position: center;
              flex: 1; }
            #Splash .splash_lessons ul li h3 {
              position: absolute;
              top: 9%;
              left: 9%;
              z-index: 50;
              letter-spacing: 0.03em; }
            #Splash .splash_lessons ul li p {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #000;
              padding: 20% 9%;
              opacity: 0; } }
  #Splash .splash_becomeamartian {
    background-image: url("/img/texture-neon.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/post_bg.jpg',    sizingMethod='scale')";
    min-height: 70vh; }
    #Splash .splash_becomeamartian h2 {
      font-size: 150px;
      letter-spacing: 0.03em;
      text-align: justify;
      line-height: 200px;
      text-shadow: 4px 4px #e54ed0; }
    #Splash .splash_becomeamartian p {
      font-size: 28px;
      line-height: 40px;
      letter-spacing: .03em;
      margin-bottom: 20px;
      padding-left: 200px; }
      @media (max-width: 899px) {
        #Splash .splash_becomeamartian p {
          font-size: 16px;
          line-height: 30px; } }
    @media (min-width: 900px) {
      #Splash .splash_becomeamartian .splash_becomeamartian_btn {
        margin-bottom: 60px;
        margin-left: 500px; } }
  #Splash .splash_about {
    background-image: url("/img/texture-mars.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/post_bg.jpg',    sizingMethod='scale')"; }
    #Splash .splash_about p {
      max-width: 800px;
      text-align: center;
      font-size: 28px;
      line-height: 40px;
      letter-spacing: .03em;
      margin-bottom: 20px; }
      @media (max-width: 899px) {
        #Splash .splash_about p {
          font-size: 16px;
          line-height: 30px; } }

#Syllabus {
  background-color: #fff;
  height: 100%; }
  #Syllabus .calendar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  #Syllabus .calendar-header {
    display: none; }
  #Syllabus .lesson {
    transition: all 0.5s ease;
    color: #000; }
    #Syllabus .lesson:hover {
      cursor: pointer; }
  @media (min-width: 900px) {
    #Syllabus .calendar {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      height: calc(100% - 40px); }
    #Syllabus .calendar-header {
      height: 40px;
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-bottom: 1px solid #000; }
      #Syllabus .calendar-header span {
        -webkit-flex-basis: 20%;
        -moz-flex-basis: 20%;
        -ms-flex-basis: 20%;
        flex-basis: 20%;
        text-align: center; }
    #Syllabus .lesson {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-basis: 20%;
      -moz-flex-basis: 20%;
      -ms-flex-basis: 20%;
      flex-basis: 20%;
      width: 20%;
      position: relative;
      height: 400px;
      padding: 2%;
      border-left: 2px solid #000;
      border-bottom: 2px solid #000;
      height: 50%; }
      #Syllabus .lesson header {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: space-between;
        white-space: nowrap; }
        #Syllabus .lesson header span,
        #Syllabus .lesson header date {
          font-family: alphaHeadline;
          text-transform: uppercase;
          font-size: 12px; }
      #Syllabus .lesson h2 {
        text-align: center;
        margin: 10px 0; }
      #Syllabus .lesson .lesson-class_link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 100; }
      #Syllabus .lesson .lesson-image {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 90px 20px 20px; }
        #Syllabus .lesson .lesson-image img {
          width: 100%; } }
  @media (max-width: 899px) {
    #Syllabus .calendar-header {
      display: none; }
    #Syllabus .calendar-week {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    #Syllabus .lesson {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 200px;
      padding: 0;
      border-bottom: 1px solid #000; }
      #Syllabus .lesson .lesson-image {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 20px;
        width: 40%; }
      #Syllabus .lesson img {
        max-height: 180px;
        width: auto; }
      #Syllabus .lesson .lesson-text {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 30px; }
        #Syllabus .lesson .lesson-text date {
          margin-left: 20px; }
        #Syllabus .lesson .lesson-text h2 {
          margin-top: 10px; } }

#FAQ {
  background-image: url("/img/texture-plasticbag-blue.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/post_bg.jpg',    sizingMethod='scale')";
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  #FAQ h2 {
    text-shadow: 7px 7px #fff;
    color: #000;
    font-family: data;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 20px;
    line-height: 75px; }
    @media (max-width: 899px) {
      #FAQ h2 {
        font-size: 70px; } }
  #FAQ ul {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px; }
    #FAQ ul li {
      font-size: 28px;
      margin-bottom: 10px;
      box-shadow: 0 0 3px 1px rgba(102, 204, 255, 0.2);
      position: relative;
      z-index: 1; }
      #FAQ ul li .background {
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .5;
        z-index: -1; }
      #FAQ ul li p {
        font-size: 20px;
        line-height: 32px; }
        #FAQ ul li p:first-child {
          text-transform: uppercase;
          margin-bottom: 10px;
          display: inline-block;
          font-family: sourceSansProBold;
          margin-bottom: 18px; }
  #FAQ .btn {
    display: inline-block;
    margin: 80px auto; }
  @media (max-width: 899px) {
    #FAQ {
      padding: 8% 10px; }
      #FAQ li {
        padding: 25px 25px; } }
  @media (min-width: 900px) {
    #FAQ {
      padding: 8% 0.5%; }
      #FAQ li {
        padding: 40px; } }

#Martians {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url("/img/texture-stars-0.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/post_bg.jpg',    sizingMethod='scale')";
  padding: 8% 0.5%; }
  #Martians h1 {
    font-family: data;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 25px;
    line-height: 75px;
    margin-bottom: 25px; }
    @media (max-width: 899px) {
      #Martians h1 {
        font-size: 70px; } }
  #Martians ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #Martians ul li {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 5%;
      padding: 0 0.5%; }
      #Martians ul li .text {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        height: 100%; }
        #Martians ul li .text h2,
        #Martians ul li .text span {
          text-align: center; }
      #Martians ul li h2 {
        margin: 15px 0 0 0;
        text-transform: uppercase; }
      #Martians ul li span {
        margin-bottom: 15px; }
      #Martians ul li img {
        max-width: 100%; }
  @media (min-width: 900px) {
    #Martians li {
      width: 33.33%; } }

#Class {
  background-color: #fff; }

#Form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 80px auto;
  background-color: #fff; }
  #Form iframe {
    margin: 0 auto; }

.group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative; }
  .group.text {
    padding-top: 10px;
    margin-bottom: 40px; }
    .group.text input {
      height: 50px;
      max-width: 600px;
      border-bottom: 1px solid #B1B1B1;
      outline: none;
      width: 100%;
      color: #ff1769; }
      @media (min-width: 900px) {
        .group.text input {
          font-size: 32px; } }
    .group.text label {
      position: absolute; }
  .group.radio input {
    height: 18px;
    width: 18px;
    margin-top: -5px; }
  .group.radio, .group.textarea {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .group.radio label, .group.textarea label {
      line-height: 50px;
      margin: 0 20px 0 5px; }
    .group.radio div, .group.textarea div {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .group.radio textarea, .group.textarea textarea {
      max-width: 600px;
      resize: none;
      font-size: 32px;
      padding: 20px;
      line-height: 46px;
      background-color: transparent;
      color: #fff;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      outline: none; }

input {
  display: block;
  border: none;
  color: #B1B1B1;
  background: transparent;
  opacity: 0.8;
  transition: 0.2s ease;
  z-index: 50; }
  input:focus {
    outline: none;
    opacity: 1; }

label {
  color: #B1B1B1;
  font-weight: normal;
  position: relative;
  pointer-events: none;
  opacity: 0.5;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  font-family: sourceSansProLight;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase; }

/* active state */
.text input:focus ~ label,
.text input:valid ~ label {
  top: -10px;
  font-size: 12px;
  color: #B1B1B1;
  opacity: 1; }

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #B1B1B1; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: #B1B1B1; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #B1B1B1; }
  to {
    width: 0;
    background: transparent; } }
a.send-btn {
  float: right;
  color: #B1B1B1;
  transition: 0.2s ease; }

a.send-btn:hover {
  color: #FAFAFA;
  cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
