/* ~~~~~~~~~~~~~~~~~~~~
* * * * * * * * * * * *
      S P L A S H
* * * * * * * * * * * *
~~~~~~~~~~~~~~~~~~~~~ */
html{
        background-image: url("img/mars.jpg");
}
#Splash{
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        background-color:lighten($beige, 10%);
        h1, 
        h2{
                text-align: center;
        }
        p{
                font-size:24px;
        }
        .splash_intro{
                position:relative;
                height: 600px;
                width:100%;
                img{
                        width:100%;
                        height:100%;
                        object-fit: cover;
                        background-position: center;
                        flex:1;
                        opacity:50%;
                }
                .splash_intro_text{
                        position:absolute;
                        top:0;
                        width:100%;
                        height:100%;
                        @include flexbox();
                        @include flex-direction(column);
                        @include justify-content(center);
                        @include align-items(center);
                }
        }
        section{
                &:not(:first-child){
                         padding:40px 0;
                }
                h2{
                        color:$sunset;
                        font-size:30px;
                        text-transform:uppercase;
                        font-family:sourceSansProBold;
                }
        }
        .splash_video,
        .splash_about,
        .splash-become_martian{
                @include flex-direction(column);
                @include flex-wrap(nowrap);
                @include justify-content(center);
                @include align-items(center);
                p{
                        max-width:650px;
                        margin:0 auto;
                }

        }
        .splash_video{
                .video{
                        width:700px;
                        margin:0 auto;
                }    
        }
        .splash_about{
                // background-color:#E8C133;
                // h2{
                //         color:$white;
                //         text-align: left;
                // }
                // p{
                //         line-height: 44px;
                //         color:$white;
                // }
        }
        .splash-learn{
                @include flexbox();
                @include flex-direction(column);
                @include flex-wrap(nowrap);
                ul{
                        @include flexbox();
                        @include flex-direction(row);
                        @include flex-wrap(wrap);
                        li{
                               
                                @include flexbox();
                                @include flex-direction(row);
                                
                                width:33.3%; 
                                height: 400px;
                                position:relative;
                                
                                @include phone{
                                        width:50%;
                                        height:100%;
                                        @include flex-wrap(wrap);
                                }
                                @include tablet{
                                        @include align-items(center);
                                        @include justify-content(center);
                                }

                                &:hover{
                                        @include tablet{
                                                .splash-learn-text{
                                                        opacity:0.90;
                                                }
                                        }
                                }
                                img{
                                        width:100%;
                                        height:300px;
                                        @include tablet{
                                                width:100%;
                                                height:100%;
                                                object-fit: cover;
                                                background-position: center;
                                                flex:1;
                                                filter: blur(0) opacity(90%);    
                                        }
                                        
                                }
                                h3.splash-learn-title{
                                        @include phone{
                                                width:100%;
                                                padding:10px 10px 0 10px;
                                        }
                                        @include tablet{
                                                position:absolute;
                                                z-index: 50;
                                                top:30px;
                                                color:$white;
                                                font-family:alphaHeadlineBold;
                                                text-transform: uppercase;
                                                font-size:30px;
                                        }
                                }
                                .splash-learn-text{
                                        @include phone{
                                                width:100%;
                                                padding: 0 10px 10px;
                                        }
                                        @include tablet{
                                                @include flexbox();
                                                @include flex-direction(column);
                                                @include justify-content(top);
                                                position:absolute;
                                                height:100%;
                                                width:100%;
                                                padding:30px;
                                                opacity:0;
                                                transition:all 500ms;
                                                background-color:$sunset;  
                                                p{
                                                        width:100%;
                                                        height:100%;
                                                        text-align:justify;
                                                        color:$white;
                                                        margin-top:45px;
                                                }  
                                        }
                                }
                        }
                }
        }
        .splash-request{
               text-align:center;
        }
        .splash-request-btn{
                background-color:$sunset;
                transition:all 0.5s ease;
                color:$white;
                &:hover{
                        background-color: $sunset;
                }
        }
}