/* ~~~~~~~~~~~~~~~~~~~~
* * * * * * * * * * * *
      S P L A S H
* * * * * * * * * * * *
~~~~~~~~~~~~~~~~~~~~~ */
#Splash{
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        h1{
                text-align: center;
                max-width:800px;
                font-size:50px;
                line-height: 76px;
                max-width:1200px;
                letter-spacing:0.03em;
        }
        h2{
                color:$black;
                font-family: data;
                font-size:60px;
                text-transform:uppercase;
                max-width:1200px;
                text-align:center;
                margin-top:20px;
        }
        h3{
                font-size:30px;
                font-family:alphaHeadlineBold;
                text-transform: uppercase;
        }
        p{
                font-size:28px;
                line-height: 40px;
                max-width:1200px;
                @include phone{
                        font-size:34px;
                        line-height: 44px;
                }
                @include desktop{
                        font-size:20px;
                        line-height: 36px;
                }
        }
        section{
                @include flexbox();
                @include flex-direction(column);
                @include flex-wrap(nowrap);
                @include justify-content(center);
                @include align-items(center);
                @include phone{
                        padding:60px 20px 60px;
                }
                @include tablet{
                        padding: 80px 20px;
                }
                @include desktop{
                        padding: 80px 40px;
                }
        }
        /* ~~~~~~~~~~~~~~~~~~~~
        ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ^ˆ
              I N T R O
        /\/\/\/\/\/\/\/\/\/\/\
        ~~~~~~~~~~~~~~~~~~~~~ */
        .splash_intro{
                color:$white;
                @include background-image('img/texture-crystals.png');
                .video{
                        width:100%;
                        max-width:800px;
                }
                // Highlighted text illusion
                // Embed span nd give it a bg (highlight) color 
                // (opt) Add box shadow
                h1 span,
                p span{
                        background-color:$black;
                        box-shadow:0 0 10px 10px $black; 
                }
                p{
                        font-size:32px;
                        line-height:50px;
                        text-align: center;
                        margin-top:40px;
                        letter-spacing: 0.03em;
                        @include phone{
                                font-size:36px;
                                line-height:48px;
                        }
                        @include tablet{
                                max-width:800px;
                        }
                }
                 @include phone{
                        h1, p{
                                background-color:rgba(0, 0, 0, 0.5);
                        }
                 }
        }
        .splash_lessons{
                @include background-image("img/aluminum_foil.jpg");
                ul{
                        @include flexbox();
                        @include flex-wrap(nowrap);
                        @include flex-direction(column);
                        @include justify-content(center);
                        li{
                                @include flexbox();
                                position:relative;
                                &.learn-text,
                                &.explore-text,
                                &.create-text{
                                        background-color:$white;
                                        @include flex-direction(column);
                                        h3, p{ color:$black; opacity:1; background-color:transparent;}
                                }
                        }

                        @include phone{
                                @include flex-direction(column);
                                @include flex-wrap(nowrap);
                                li{
                                        @include flex-direction(column);
                                        margin-bottom:20px;
                                        img{
                                                height:100%;
                                                width:100%;
                                        }
                                        &.learn-text .text,
                                        &.explore-text .text,
                                        &.create-text .text{
                                                background-color:$black;
                                                h3, p{
                                                        color:$white;
                                                }
                                        }
                                        .text{
                                                padding: 20px;
                                                background-color:$white;
                                        }
                                        p{
                                                font-size:16px;
                                        }

                                }
                        }
                        @include tablet{
                                @include flex-direction(row);
                                @include flex-wrap(wrap);
                                @include justify-content(space-evenly);
                                width:100%;
                                li{
                                        @include align-items(center);
                                        @include justify-content(center);
                                        width:33%;
                                        max-width:500px;
                                        max-height:500px;
                                        margin-bottom:40px;
                                        &:hover{
                                               .text p{
                                                        opacity:0.90;
                                                } 
                                        }
                                        img{
                                                width:100%;
                                                height:300px;
                                                width:100%;
                                                height:100%;
                                                object-fit: cover;
                                                background-position: center;
                                                flex:1;
                                        } 
                                        .text{
                                                position:absolute;
                                                height:100%;
                                                width:100%;
                                                transition:all 500ms;
                                        }
                                        h3{
                                                position:absolute;
                                                top:40px;
                                                left:40px;
                                                color:$white;
                                        }
                                        p{
                                                background-color:$black;
                                                opacity:0;
                                                width:100%;
                                                height:100%;
                                                text-align:justify;
                                                color:$white;
                                                padding:60px 20px 20px;
                                        } 
                                }
                        }
                        @include desktop{
                                li{
                                       h3{
                                                top:60px;
                                                left:40px;
                                        }
                                        p{
                                                padding:120px 40px 40px;
                                        }
                                }
                        }
                }
        }
        .splash_request{
                @include background-image("img/texture-bubbles.jpg");
                h2{
                        @include justify-content(center);
                        line-height: 60px;
                        margin-bottom:20px;
                }
                ul{
                        max-width:1000px;
                        margin:0 auto;
                        li{
                                font-size:28px;
                                margin-bottom:6px;
                                padding-left:20px;
                                background-color:$white;
                                padding:20px;
                                &:before{
                                        content:"•";
                                        margin-left:-20px;
                                }
                        }
               }
        }
         .splash-request-btn{
                background-color:$pink;
                transition:all 0.5s ease;
                color:$white;
                font-family:alphaHeadline;
                font-size:60px;

                &:hover{
                        background-color: $sunset;
                }
        }
        .splash_about{
                @include background-image("img/texture-crystals.png");
                h2{
                        color:$ltblue;
                }
                p{
                        padding:20px;
                        background-color:$black;
                        color:$ltblue;
                        font-size:20px;
                        line-height: 38px;
                        width:600px;
                }
                
        }
       
}