.header{
        position:fixed;
        top:0;
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(space-around);
        @include align-items(stretch);
        height:$headerHeight;
        background-color:$black;
        width:100%;
        z-index:1000;
        transition:all .5s ease;

        &.shrink{
                height:$shortHeaderHeight;
                h1{
                        font-size:30px;
                        line-height:$shortHeaderHeight;
                }
        }
        
        h1{
                font-family:data;
                font-size:50px;
                text-transform: uppercase;
                margin:0;
                margin-top:10px;
                color:$white;
                line-height:$headerHeight;
                color:$quartz;
        }
        nav{
                @include flexbox();
                @include flex-direction(row);
                @include align-items(center);
                a{
                        white-space: nowrap;
                        font-family: alphaHeadline;
                        text-transform: uppercase;
                        color:$quartz;
                        padding:0 10px;
                }
        }
        .hamburger{
                display: none;
                font-size:20px;
                color:$white;
                padding:20px 30px 20px 10px;
                z-index: 1000;
        }
        @include tablet{
                &.active{
                        color:$white;
                }
                h1{
                        font-size:40px;
                }
        }
}