.main_header{
        position:fixed;
        top:0;
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(space-around);
        @include align-items(center);
        background-color:$black;
        width:100%;
        z-index:1000;
        transition:all 0.5s ease;
        height:$headerHeight;
        
        h1{
                font-size:50px;
                line-height: $headerHeight;
                text-transform: uppercase;
                margin:0;
                position:absolute;
                letter-spacing: 0.03em;
                a{
                        transition:all 0.5s ease;
                        color:$white;
                        font-family:data;
                }
                &:hover{
                        a{
                                color:$highlight;
                        }
                }
        }
        .main_nav{
                @include flexbox();
                @include flex-direction(row);
                @include align-items(center);
                position:relative;
                width:100%;
                a{
                        white-space: nowrap;
                        font-family: alphaHeadline;
                        text-transform: uppercase;
                        color:$white;
                        transition:all 0.5s ease;
                        letter-spacing: 0.02em;
                }
               
        }
        .hamburger{
                display: none;
        }
        @include tablet{
                &.shrink{
                        height:$shortHeaderHeight;
                        h1{
                                font-size:30px;
                                line-height:$shortHeaderHeight;
                        }
                        .main_nav li:last-child{
                                background-color:$highlight;
                                padding-left:20px;
                                transition:all 0.5s ease;
                                a{
                                        transition:all 0.5s ease;
                                }
                                &:hover{
                                        background-color:lighten($highlight, 10%);
                                        a{
                                                color:$white;
                                        }
                                }
                        }
                }
                nav{
                        height:100%;
                }
                h1{
                        left:20px;
                }
                 ul{
                        width:100%;
                        height: 100%;
                        display:block;
                        @include flexbox();
                        @include justify-content(flex-end);
                        li{
                                @include flexbox();
                                @include align-items(center);
                                height:100%;
                                // select first two list items
                                &:nth-child(-n+2){
                                        float:left;
                                        padding-left:20px;
                                }
                                //select last list item
                                &:nth-child(n+3){
                                        float:right;
                                        padding-right:20px;
                                        li{
                                                padding-right:20px;
                                        }
                                }
                        }
                }
                a{
                        padding:0 10px;
                        &:hover{
                                color:$highlight;
                        }
                }
        }
        @include phone{
                height:$shortHeaderHeight;
                .hamburger{
                        display: block;
                        position:absolute;
                        right:10px;
                        font-size:30px;
                        color:$white;
                        z-index: 1000;
                        transition: all 0.5s ease;
                        &:hover{
                                color:$highlight;
                        }
                        &.active{
                                color:$quartz;
                        }
                }
                h1{
                        font-size: 30px;
                        line-height: $shortHeaderHeight;
                        left:10px;
                }
                .main_nav{
                        position:absolute;
                        top:$shortHeaderHeight;
                        left:0;
                        width:100%;
                        height:calc(100vh - 80px);
                        z-index:2000;
                        display: none;
                        background-color:$black;
                        padding-bottom:60px;
                        opacity:0;
                        transition:all 0.5s ease;
                        overflow-y:scroll;
                        -webkit-overflow-scrolling:touch;
                        border-top:1px solid $white;
                        &.active{
                                opacity:1;
                        }
                        ul{
                                @include flexbox();
                                @include flex-direction(column);
                                li{
                                        @include flexbox();
                                        @include flex-direction(column);
                                        height:100px;
                                        @include align-items(center);
                                        @include justify-content(center);
                                        border-bottom:1px solid $white;
                                        text-align: center;
                                        a{
                                                @include flexbox();
                                                @include flex-direction(row);
                                                 @include align-items(center);
                                                @include justify-content(center);
                                                height:100%;
                                                width:100%;
                                        }
                                }
                        }
                }
        }
}