.header{
        position:fixed;
        top:0;
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(space-around);
        @include align-items(stretch);
        background-color:$black;
        width:100%;
        z-index:1000;
        transition:all .5s ease;
        @include phone{
                height:$shortHeaderHeight;
        }
        @include tablet{
                height:$headerHeight;
        }

        &.shrink{
                height:$shortHeaderHeight;
                h1{
                        font-size:30px;
                        line-height:$shortHeaderHeight;
                }
        }
        
        h1{
                font-size:50px;
                text-transform: uppercase;
                margin:0;
                @include phone{
                        line-height: $shortHeaderHeight;
                }
                @include tablet{
                        line-height: $headerHeight;
                }
                a{
                        color:$white;
                        font-family:data;
                }
        }
        nav{
                @include flexbox();
                @include flex-direction(row);
                @include align-items(center);
                a{
                        white-space: nowrap;
                        font-family: alphaHeadline;
                        text-transform: uppercase;
                        color:$white;
                        padding:0 10px;
                        border-bottom:1px solid transparent;
                        transition:all 0.5s ease;
                        &:hover{
                                border-bottom:1px solid $white;
                        }
                }
        }
        .hamburger{
                display: none;
                font-size:20px;
                color:$white;
                padding:20px 30px 20px 10px;
                z-index: 1000;
        }
        @include tablet{
                &.active{
                        color:$white;
                }
                h1{
                        font-size:40px;
                }
        }
}